doctype html
html
    head
        title(ng-bind="'Freight'")
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        base(href="/")
    body
        h2 "hey"
        div#app
        script(src="#{staticAsset.js('bundle.js')}")
